* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  background: #f5f5f5;
}

/* NAVBAR */
.navbar {
  position: sticky;
  top: 0;
  background: #131921;
  color: white;
  display: flex;
  gap: 10px;
  padding: 10px;
  align-items: center;
}

.navbar input, .navbar select {
  padding: 5px;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.nav-actions {
  margin-left: auto;
  display: flex;
  gap: 10px;
}

.cart-icon span {
  background: red;
  padding: 2px 6px;
  border-radius: 50%;
}

/* HERO */
.hero {
  text-align: center;
  padding: 40px;
  background: rgb(128, 64, 0);
  color: white;
}

.hero button {
  padding: 10px 20px;
  border: none;
  background: orange;
  cursor: pointer;
}

/* PRODUCTS */
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 15px;
  padding: 20px;
}

.product {
  background: white;
  padding: 10px;
  border-radius: 6px;
  transition: 0.3s;
}

.product:hover {
  transform: scale(1.03);
}

.product img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.product button {
  width: 100%;
  padding: 8px;
  background: #4928f0;
  color: white;
  border: none;
}

/* MODAL */
.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
}

.modal-content {
  background: white;
  margin: 50px auto;
  padding: 20px;
  max-width: 400px;
}

.cart {
  max-width: 500px;
}

.close {
  float: right;
  cursor: pointer;
}
